@import "tailwindcss";

:root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  --color-bg : rgb(255, 255, 255);
  --color-fg : rgb(0, 0, 0);
  --color-accent: rgb(0, 175, 244);
  --color-success: rgb(6, 224, 97);

}